<!DOCTYPE html>
<html>
  <head>
    <title>SG Stephenson Web Developer</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <link href="https://fonts.googleapis.com/css?family=Grand+Hotel&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lato&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Alegreya+Sans+SC|Arvo|Audiowide|Bai+Jamjuree|Bellota|Fugaz+One|Gugi|Indie+Flower|Istok+Web|Julius+Sans+One|Khand|Lexend+Tera|Megrim|Montserrat+Alternates|Orbitron|Oxanium|Playfair+Display|Shrikhand|Tomorrow|Wire+One&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Amiri|Inconsolata&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Cinzel|Montserrat+Subrayada|Pacifico&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="node_modules/@glidejs/glide/dist/css/glide.core.min.css">
    <link rel="stylesheet" href="node_modules/@glidejs/glide/dist/css/glide.theme.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.10/css/all.css">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
   </head>

    <body>
      <%= yield %>
        <style>
          html {
            scroll-behavior: smooth;
            transition-timing-function: cubic-bezier(0.1, 0.7, 1.0, 0.1);
          }

         @media (max-width: 550px) {

          body {
            width: 160%;
          }

          .banner {
            display: flex;
            justify-content: center;
            height: 100%;
           }

          li a {
            display: none;
           }

           #name-header {
            font-size: 20vw;
            padding-top: 150px;
            border-bottom: 100%;
           }

           .text-animation {
            margin-bottom: 200px;
           }

          /* .projects-header {
            display: none;
           }*/

           .about-container-responsive #about-container {
            height: 150vw;
           }

           #about-container-height {
            height: 100vh;
           }

           #technical-skills p {
            display: none;
           }

           .banner-img-2 {
            display: none;
           }

           .projects-header img {
            display: none;
          }

          .projects-header img .banner-img-2 {
            display: none;
          }

          body .projects-container {
            background: #3c3b3c;
            height: 110vh;
          }

           footer {
            padding-top: 50px;
           }

        }

          @media (min-width: 551px) and (max-width: 729px) {

         .row .photo img {
            display: none;
          }

          #about-container #technical-skills p {
            display: none;
          }

          #about-container {
            height: 100vh;
          }

          li a {
            display: none;
            }

           #name-header {
            font-size: 12vw;
            padding-top: 150px;
            border-bottom: 100%;
           }

            body .projects-container {
            height: 105vh;
            background: #3c3b3c;
          }
        }

        @media (min-width: 730px) and (max-width: 768px) {

           #name-header {
            font-size: 12vw;
            padding-top: 150px;
            border-bottom: 100%;
          }

         header ul li a {
            display: none;
           }

          #about-container #technical-skills p {
            padding: 25px;
            border: 1px solid black;
            margin-bottom: 20px;
          }

          .row .photo img {
            display: none;
          }

          .projects-header img {
            display: none;
          }

          body .projects-container {
            height: 110vh;
            background: #3c3b3c;
          }
      }

      @media (min-width: 769px) and (max-width: 993px) {
             header .text-animation {
            position: absolute;
            top: -5px;
          }

      .row .photo img {
            display: none;
          }

         #about-container #technical-skills p {
            padding: 25px;
            border: 1px solid black;
            margin-bottom: 20px;
          }
        }

        @media (max-width: 768px) {
          .carousel-caption h5 {
            position: absolute;
            top: -100px;
          }
        }

        @media (min-width: 993px;) and (max-width: 1159px) {

        body #about-container {
            height: 1000vh;
          }
        }

        @media (max-width: 1009px) {
          header ul li a {
            padding-left: 50px;
            padding-right: 60px;
          }

          header .text-animation {
            position: absolute;
            top: 0px;
        }


     </style>
    </body>



</html>
