<!DOCTYPE html>
<html>
  <head>
    <title>SG Stephenson Web Developer</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <link href="https://fonts.googleapis.com/css?family=Grand+Hotel&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lato&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Alegreya+Sans+SC|Arvo|Audiowide|Bai+Jamjuree|Bellota|Fugaz+One|Gugi|Indie+Flower|Istok+Web|Julius+Sans+One|Khand|Lexend+Tera|Megrim|Montserrat+Alternates|Orbitron|Oxanium|Playfair+Display|Shrikhand|Tomorrow|Wire+One&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Amiri|Inconsolata&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Cinzel|Montserrat+Subrayada|Pacifico&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="node_modules/@glidejs/glide/dist/css/glide.core.min.css">
    <link rel="stylesheet" href="node_modules/@glidejs/glide/dist/css/glide.theme.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.10/css/all.css">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
   </head>

    <body>
      <%= yield %>
        <style>
         @media (max-width: 550px) {

          body {
            width: 160%;
          }

          .banner {
            display: flex;
            justify-content: center;
            height: 100%;
           }

           #name-header {
            font-size: 20vw;
            padding-top: 150px;
            border-bottom: 100%;
           }

           .text-animation {
            margin-bottom: 200px;
           }

           #about-container-height {
            height: 100vh;
           }

           #technical-skills p {
            display: none;
           }

           .projects-contaner {
           height: 100vh;
           }

          /* .carousel-caption h3 {
            position: absolute;
            top: 100px;
            display: block;
           }*/

           footer {
            margin-top: 50px;
           }

        }

        @media (max-width: 768px) and (min-width: 551px) {
          body {
            width: 100%;
          }

          header .text-animation {
            position: absolute;
            top: 215px;           }

           #name-header {
            font-size: 12vw;
            padding-top: 150px;
            border-bottom: 100%;
           }

          #about-container #technical-skills p {
            padding: 25px;
            border: 1px solid black;
          }

          .row .photo img {
            position: absolute;
            top: 65%;
            margin-top: 222px;
            right: 269px;
            max-height: 335px;
            border: 1px solid grey;
            border-radius: 10px;
          }

          body .projects-contaner {
            height: 100vh;
          }

          /* .banner {
            display: flex;
            justify-content: center;
            height: 100vh;
           }*/
        }

        @media (max-width: 1024) and (min-width: 769px) {

         .section-b .section-c #about-container {
            height: 55vh;
            position: relative;
          }
        }

        body .projects-contaner {
            height: 75vh;


     </style>
    </body>



</html>
